body {
  /* font-family: 'Roboto', sans-serif; */
  font-size: 16px;
  /* width: fit-content; */
  background-color: azure;
  font-size: 1.25rem;
}
h1 {
  text-shadow: 3px 2px 3px grey;
}

div {
  margin: auto;
}

div img, p {
  
  margin: auto;

}
